@model UserVM
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit @Model.FirstName @Model.LastName</h1>
<form class="mt-3" asp-action="Edit" method="post">
	<div class="form-group">
		<label class="form-label" asp-for="FirstName"></label>
		<input class="form-control" asp-for="FirstName" />
		<span class="text-danger" asp-validation-for="FirstName"></span>
	</div>
	<br />
	<div class="form-group">
		<label class="form-label" asp-for="LastName"></label>
		<input class="form-control" asp-for="LastName" />
		<span class="text-danger" asp-validation-for="LastName"></span>
	</div>
	<br />
	<div class="form-group">
		<label class="form-label" asp-for="PhoneNumber"></label>
		<input class="form-control" asp-for="PhoneNumber" />
		<span class="text-danger" asp-validation-for="PhoneNumber"></span>
	</div>
	<br />
	<div>
		<input class=" btn btn-success" type="submit"  value="Save" />|
		<a class=" btn btn-danger" asp-action="Index">Cancel</a>
	</div>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

