@model RoleVM
@{
	ViewData["Title"] = "Details";
}

<h1>Details Of @Model.Name</h1>
<br />
<div class="form-group">
	<label class="form-label" asp-for="Id"></label>
	<input readonly class="form-control" asp-for="Id" />
</div>
<br />
<div class="form-group">
	<label class="form-label" asp-for="Name"></label>
	<input readonly class="form-control" asp-for="Name" />
</div>
<br />
<div>
	<a class="btn btn-primary" asp-action="Edit">Edit</a>|
	<a class="btn btn-light" asp-action="Index">Back To List</a>
</div>

