@model IEnumerable<RoleVM>
@{
    ViewData["Title"] = "Index";
}

<h1>All Roles</h1>

<a class="mt-3 btn btn-success" asp-action="Create">Create New Role</a>

@if (Model.Any())
{
	<div class="mt-5 justify-content-center align-items-center">
		<form asp-action="Index" class="row offset-2" method="get">
			<div class="col-8">
				<input class="form-control" type="search" name="searchInput" placeholder="Role Name" />
			</div>

			<div class="col-4">
				<input type="submit" value="Search" class="col btn btn-info" />
			</div>
		</form>
	</div>


	<table class=" mt-3 table table-striped table-bordered table-hover">
		<thead>
			<tr class="text-center">
				<th>@Html.DisplayNameFor(m => m.Id)</th>
				<th>@Html.DisplayNameFor(m => m.Name)</th>

				<th>Details</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var role in Model)
			{
				<tr class="text-center">
					<td>@role.Id</td>
					<td>@role.Name</td>

					<partial name="IndexButtonsPartial" model="role.Id" />
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class=" mt-3 alert alert-info">
		<h2>
			<b class="text-black">There Is No Roles</b>
		</h2>
	</div>
}


