@model DepartmentVM
<div class="form-group">
	<label class="form-label" asp-for="Code"></label>
	<input readonly class="form-control" asp-for="Code" />
</div>

<br />

<div class="form-group">
	<label class="form-label" asp-for="Name"></label>
	<input readonly class="form-control" asp-for="Name" />
</div>

<br />

<div class="form-group">
	<label class="form-label" asp-for="DateOfCreation"></label>
	<input readonly class="form-control" asp-for="DateOfCreation" />
</div>