@{
	ViewData["Title"] = "CheckYourInbox";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<p>
			Password Reset Link Has Been Sent To Your Email, <br />
			Check Your Inbox
		</p>
		<br />
		<p>
			<a href="https://mail.google.com/mail/u/0/#inbox">
				Go To Mail
			</a>
		</p>
	</div>
</div>

