@model ForgerPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">

		<form asp-action="ForgetPassword" method="post">
			<div class="text-danger" asp-validation-summary="All"></div>
			<br />
			<div>
				<input asp-for="RecoveryEmail" placeholder="Recovery Email">
				<span class="text-danger" asp-validation-for="RecoveryEmail"></span>
			</div>
				<input type="submit" value="SEND">
		</form>
	</div>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}


